<?xml version="1.0"?>
<config>
    <modules>
        <Paack_Shipment>
            <version>0.0.1</version>
        </Paack_Shipment>
    </modules>
  <global>
    <models>
      <paack_shipment>
        <class>Shipment_Model</class>
      </paack_shipment>
    </models>
    <events>
      <sales_order_place_before>
        <observers>
          <paack_shipment_model_observer>
            <type>singleton</type>
            <class>Paack_Shipment_Model_Observer</class>
            <method>sendOrderJson</method>
          </paack_shipment_model_observer>
        </observers>
      </sales_order_place_before>
		</events>
  </global>
</config>